html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    line-height: 1.5;
    color: #262626;
}
