.table {
    border-collapse: collapse;
    margin: auto;
    max-width: 800px;
}

.table__cell {
    color: #7f7068;
    font-weight: bold;
    border: 1px solid #262626;
    background-color: #F2F2F2;
    text-align: center;
    padding: 5px 20px;
}

.table__cell:hover {
    color: #F2F2F2;
    background-color: #a2b5a4;
}

.table__cell--header {
    color: #F2F2F2;
    background-color: #536c59;
}